@{
    ViewBag.Title = "Iniciar Sesión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Servicios</h2>
                <h3 class="section-subheading text-muted">Informacion Acerca de nuestros servicios.</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Productos</h4>
                    <p class="text-muted"> nos enorgullece presentarte una gama de productos cuidadosamente seleccionados para brindarte una experiencia indulgente y renovadora. .</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-spa fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Faciales</h4>
                    <p class="text-muted">Nuestros faciales de cuidado de la piel son mucho más que simples tratamientos; son una experiencia sensorial que te transportará a un mundo de relajación y rejuvenecimiento.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-hands-bound fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Masajes</h4>
                    <p class="text-muted"> Cada sesión de masaje se adapta a tus necesidades específicas, brindándote un tratamiento personalizado que se enfoca en tus áreas de tensión y preocupaciones particulares.</p>
                </div>
            </div>
        </div>
    </section>
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Reserve</h2>
            <h3 class="section-subheading text-muted">Compre nuestros productos,reserve nuestros masajes o faciales.<br />sera un placer atenderle!!! </h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
<!-- Portfolio item 1-->
<div class="portfolio-item">
        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" src="~/WebStyles/assets/img/portfolio/spa2.png" alt="..." />
        </a>
        <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Faciales</div>
            <div class="portfolio-caption-subheading text-muted"></div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 mb-4">
<!-- Portfolio item 2-->
<div class="portfolio-item">
        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" src="~/WebStyles/assets/img/portfolio/spa4.jpg" alt="..." />
        </a>
        <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Productos</div>
            <div class="portfolio-caption-subheading text-muted"></div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 mb-4">-->
<!-- Portfolio item 3-->
<div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/WebStyles/assets/img/portfolio/spa5.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Masajes</div>
                        <div class="portfolio-caption-subheading text-muted"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>-->
<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Acerca De</h2>
            <h3 class="section-subheading text-muted">Conoce nuestra historia.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/WebStyles/assets/img/about/5.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2019-2023</h4>
                        <h4 class="subheading">Nuestro comienzo</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted"> El Spa Beesthetic inicio con la fuerza de una emprendedora que decidió expandirse y buscar un lugar más amplio para su spa. Con dedicación y
                        determinación, encontró el lugar perfecto en un entorno idílico rodeado de naturaleza. El lugar tenía un encanto especial y brindaba un ambiente armonioso para ofrecer experiencias de spa inigualables.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/WebStyles/assets/img/about/7.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Enero 2019</h4>
                        <h4 class="subheading">Nuestra Mision</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">La misión de nuestro spa, es brindar un refugio de serenidad y bienestar donde nuestros clientes puedan rejuvenecer su cuerpo, calmar su mente y restaurar su equilibrio interior. Nos comprometemos a ofrecer tratamientos y servicios de calidad excepcional que sean personalizados para satisfacer las necesidades únicas de cada individuo.</p></div>
                </div>
            </li>


            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Se Parte
                        <br />
                        De Nuestra
                        <br />
                        Historia!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>-->
<!-- Team-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Nuestro Equipo</h2>
            <h3 class="section-subheading text-muted">Conoce un poco mas de nuestra familia.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/WebStyles/assets/img/team/1.jpg" alt="..." />
                    <h4>Joshua steeker</h4>
                    <p class="text-muted">Nuestro encargado y <br /> especialista en faciales</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/WebStyles/assets/img/team/2.jpg" alt="..." />
                    <h4>Diana Serrano</h4>
                    <p class="text-muted">Emprendedora y fundadora <br /> del spa beesthetic</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/WebStyles/assets/img/team/3.jpg" alt="..." />
                    <h4>Rolan Parker</h4>
                    <p class="text-muted">Nuestro especialista en todo <br /> tipo de masajes profesionales</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">En nuestro spa, confiamos en un equipo de profesionales altamente capacitados y apasionados que se dedican a brindar una experiencia de calidad excepcional a nuestros valiosos clientes.</p></div>
        </div>
    </div>
</section>
