@model ProyectoWebSpa.Entities.UsuarioEnt
@{
    ViewBag.Title = "Recuperar";
    Layout = "~/Views/Shared/_Layout-Login.cshtml";
}

@using (Html.BeginForm("RecuperarContrasenna", "Home", FormMethod.Post))
{
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Login</h2>
        </div>
        @if (@ViewBag.MsjPantalla != null)
        {
            <div style="text-align:center" class="alert alert-warning" role="alert">
                @ViewBag.MsjPantalla
            </div>
        }
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="login-wrap p-0">
                <h3 class="mb-4 text-center">Se te olvidó la contraseña?</h3>
                <form action="#" class="signin-form">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Correo, new { @type = "email", @placeholder = "Correo Electrónico", @class = "form-control" })
                        <label for="inputEmail">Correo Electrónico</label>
                        @*<input type="text" class="form-control" placeholder="Correo Electrónico" required>*@
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary submit px-3">Recuperar Contraseña</button>
                    </div>

                </form>
                <div class="social d-flex text-center">
                    <a href="@Url.Action("Login", "Home")" class="px-2 py-2 mr-md-1 rounded">Iniciar Sesión <i class="fa fa-share"></i></a>
                </div>
            </div>
        </div>
    </div>
}

